<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Knockout Example App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/font-awesome.css">
        
    </head>
    <body>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">
                  School App
                </a>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
          </div>
        </div>